src/wsdl/blitzthinkw2_8080/webservicepersonas/PersonasWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/3.0.2 (RELEASE-3.0.2-4d220c5; 2021-08-02T05:18:16+0000) JAXWS-RI/3.0.2 JAXWS-API/3.0.1 JAXB-RI/3.0.2 JAXB-API/3.0.1 git-revision#4d220c5. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/3.0.2 (RELEASE-3.0.2-4d220c5; 2021-08-02T05:18:16+0000) JAXWS-RI/3.0.2 JAXWS-API/3.0.1 JAXB-RI/3.0.2 JAXB-API/3.0.1 git-revision#4d220c5. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.webservicepersonas.webservices.ufg.edu.sv/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.webservicepersonas.webservices.ufg.edu.sv/" name="PersonasWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.webservicepersonas.webservices.ufg.edu.sv/" schemaLocation="http://blitzthinkw2:8080/webservicepersonas/PersonasWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="save">
<part name="parameters" element="tns:save"/>
</message>
<message name="saveResponse">
<part name="parameters" element="tns:saveResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="findById">
<part name="parameters" element="tns:findById"/>
</message>
<message name="findByIdResponse">
<part name="parameters" element="tns:findByIdResponse"/>
</message>
<portType name="PersonasWebService">
<operation name="update">
<input wsam:Action="http://webservices.webservicepersonas.webservices.ufg.edu.sv/PersonasWebService/updateRequest" message="tns:update"/>
<output wsam:Action="http://webservices.webservicepersonas.webservices.ufg.edu.sv/PersonasWebService/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="delete">
<input wsam:Action="http://webservices.webservicepersonas.webservices.ufg.edu.sv/PersonasWebService/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://webservices.webservicepersonas.webservices.ufg.edu.sv/PersonasWebService/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="save">
<input wsam:Action="http://webservices.webservicepersonas.webservices.ufg.edu.sv/PersonasWebService/saveRequest" message="tns:save"/>
<output wsam:Action="http://webservices.webservicepersonas.webservices.ufg.edu.sv/PersonasWebService/saveResponse" message="tns:saveResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://webservices.webservicepersonas.webservices.ufg.edu.sv/PersonasWebService/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://webservices.webservicepersonas.webservices.ufg.edu.sv/PersonasWebService/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="findById">
<input wsam:Action="http://webservices.webservicepersonas.webservices.ufg.edu.sv/PersonasWebService/findByIdRequest" message="tns:findById"/>
<output wsam:Action="http://webservices.webservicepersonas.webservices.ufg.edu.sv/PersonasWebService/findByIdResponse" message="tns:findByIdResponse"/>
</operation>
</portType>
<binding name="PersonasWebServicePortBinding" type="tns:PersonasWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="save">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PersonasWebService">
<port name="PersonasWebServicePort" binding="tns:PersonasWebServicePortBinding">
<soap:address location="http://blitzthinkw2:8080/webservicepersonas/PersonasWebService"/>
</port>
</service>
</definitions>