src/wsdl/blitzthinkw2_8080/webservicepersonas/PersonasWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/3.0.2 (RELEASE-3.0.2-4d220c5; 2021-08-02T05:18:16+0000) JAXWS-RI/3.0.2 JAXWS-API/3.0.1 JAXB-RI/3.0.2 JAXB-API/3.0.1 git-revision#4d220c5. --><xs:schema xmlns:tns="http://webservices.webservicepersonas.webservices.ufg.edu.sv/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices.webservicepersonas.webservices.ufg.edu.sv/">

<xs:element name="delete" type="tns:delete"/>

<xs:element name="deleteResponse" type="tns:deleteResponse"/>

<xs:element name="findAll" type="tns:findAll"/>

<xs:element name="findAllResponse" type="tns:findAllResponse"/>

<xs:element name="findById" type="tns:findById"/>

<xs:element name="findByIdResponse" type="tns:findByIdResponse"/>

<xs:element name="save" type="tns:save"/>

<xs:element name="saveResponse" type="tns:saveResponse"/>

<xs:element name="update" type="tns:update"/>

<xs:element name="updateResponse" type="tns:updateResponse"/>

<xs:complexType name="findById">
<xs:sequence>
<xs:element name="idPersona" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByIdResponse">
<xs:sequence>
<xs:element name="persona" type="tns:personas" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="personas">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="fechaNacimiento" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idPersona" type="xs:long" minOccurs="0"/>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
<xs:element name="sexo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="update">
<xs:sequence>
<xs:element name="persona" type="tns:personasDTO" minOccurs="0"/>
<xs:element name="idPersona" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="personasDTO">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="fechaNacimiento" type="xs:dateTime" minOccurs="0"/>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
<xs:element name="sexo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="save">
<xs:sequence>
<xs:element name="persona" type="tns:personasDTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saveResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="delete">
<xs:sequence>
<xs:element name="idPersona" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllResponse">
<xs:sequence>
<xs:element name="personas" type="tns:personas" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>